/* Elements */

header {
  text-align: center;
}

img{
  width: 60px;
  height: 90px;
}

/* Classes */

.concept {
  background-color: salmon;
}

/* Id's */

/* #hidden {
  display: none;
} */

#site-description {
  font-family: Garamond, serif;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

#podcast-search-form {
  display: none;
}