/* Elements */
body {
  margin: 0;  
  background-image: linear-gradient(rgb(106, 196, 154), rgb(174, 209, 197), rgb(208, 216, 213));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

img{
  width: 60px;
  height: 90px;
}

audio{
  display: none;
}

/* Classes */
/* .listen-btn {
  border-radius: 40%;
} */

.concept {
  background-color: salmon;
}

.listen-btn:hover {
  background-color: rgb(106, 196, 154);
  color: white;
}

.episode-description {
  max-height: 100px;
  overflow-y: scroll;
}

/* Id's */

#hidden {
  display: none;
}

#site-description {
  font-family: Garamond, serif;
  font-size: 24px;
  font-weight: bold;
}

#podcast-search-form {
  display: none;
}